.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--second-bg-color);
}

.footer-box {
  display: block;
  margin: 0 auto;
  text-align: center;
  @include tab {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
  }

  @include desk {
    justify-content: left;
    text-align: left;
    // max-width: 100%;
  }
}

// .box-adress {
//   text-align: center;
//   @include tab {
//     text-align: center;
//   }
//   @include desk {
//     text-align: left;
//   }
// }
.box-adress__logo {
  display: block;
  margin-bottom: 20px;
  color: var(--third-text-color);
}
.address {
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--duration-main) var(--timing-main);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-address__link {
  display: block;
  margin-bottom: 8px;
  color: var(--third-text-color);
  @include desk {
    margin-bottom: 9px;
  }
}

.address-list__item:not(:last-child) {
  margin-bottom: 8px;
  @include desk {
    margin-bottom: 9px;
  }
}
.address-list__tel {
  @media screen and (max-width: 1199px) {
    display: block;
    margin-bottom: 60px;
  }
}

.footer__box-social {
  @include tab {
    margin-top: 12px;
    margin-left: 165px;
  }
  @include desk {
    margin-top: 12px;
    margin-left: 70px;
  }
}

.box-social__title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-text-color);
  margin-bottom: 20px;
}

.box-social-list {
  display: flex;
  justify-content: center;
}
.box-social-list__item {
  & + & {
    margin-left: 10px;
  }
}
.box-social-list__link {
  width: 44px;
  height: 44px;
  @extend %center-list;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--duration-main) var(--timing-main);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
.box-social-list__icon {
  fill: var(--third-text-color);
}

.box-social-list__item {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
}
.footer__subscription {
  @include desk {
    margin-top: 12px;
    margin-left: 93px;
  }
}

.subscription__text {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-text-color);
  margin-bottom: 20px;
}

.subscription-box {
  @include desk {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
.subscription-box__input {
  margin: 0 auto;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--second-bg-color);
  margin-right: 12px;
  padding-left: 16px;
  color: var(--third-text-color);
  transition: border-color var(--duration-main) var(--timing-main);

  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
  }

  &::placeholder {
    font-size: 16px;
    line-height: calc(20 / 16);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: border-color var(--duration-main) var(--timing-main);
  }

  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }
  @include tab {
    width: 450px;
  }
  @include desk {
    width: 358px;
  }
}

.subscription-box__btn {
  max-width: 200px;
  margin: 0 auto;
  @extend %center-list;
}
.subscription-box__icon {
  margin-left: 10px;
  fill: var(--third-text-color);
}
