.project {
  padding-top: 60px;
  padding-bottom: 60px;

  @include desk {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.project__filter {
  margin-bottom: 40px;
  @include tab {
    margin-bottom: 30px;
  }
  @include desk {
    margin-bottom: 50px;
  }
}
.filter {
  display: flex;
  flex-wrap: wrap;
  @include tab {
    justify-content: center;
    height: auto;
  }
}
.filter__item:not(:first-child) {
  margin-left: 8px;

  &:nth-child(-n + 3) {
    @media screen and (max-width: 767px) {
      margin-bottom: 15px;
    }
  }
}

.filter__btn {
  display: inline-block;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  background-color: var(--third-bg-color);
  transition: background-color var(--duration-main) var(--timing-main),
    color var(--duration-main) var(--timing-main),
    box-shadow var(--duration-main) var(--timing-main);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--third-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.filter__btn--all {
  background-color: var(--accent-color);
  color: var(--third-text-color);
}

.project-list {
  margin-bottom: -30px;
  @include tab {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
}
.project-list__item {
  margin-bottom: 30px;
  transition: box-shadow var(--duration-main) var(--timing-main);
  @include tab {
    width: calc((100% - 30px * 2) / 2);
    margin-right: 30px;
  }
  @include desk {
    width: calc((100% - 30px * 3) / 3);
    // margin-right: 30px;
  }

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.project-list__wrap {
  position: relative;
  overflow: hidden;
}

.project-list__img-text {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  height: 101%;
  width: 100%;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: var(--third-text-color);
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform var(--duration-main) var(--timing-main);
  // overflow: auto;

  .project-list__item:hover &,
  .project-list__item:focus & {
    transform: translateY(0%);
  }
}

.project-list__content {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.project-list__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--second-text-color);
}

.project-list__text {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
}
