.logo {
  font-family: 'Raleway', sans-serif;
  @include font(24px, null, 28px, 0.03em);
  color: var(--second-text-color);

  @include desk {
    font-size: 31px;
    line-height: calc(31 / 26);
    color: #000000;
  }
}

.logo__text {
  color: var(--accent-color);
}
