body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  // min-width: 1200px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}
