:root {
  --main-text-color: #757575;
  --second-text-color: #212121;
  --third-text-color: #ffffff;
  --accent-color: #2196f3;
  --main-bg-color: #ffffff;
  --second-bg-color: #2f303a;
  --third-bg-color: #f5f4fa;
  --fourth-bg-color: #c4c4c4;
  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --icon-main-color: #afb1b8;
  --duration-main: 250ms;
  --duration-second: 500ms;
  --timing-main: cubic-bezier(0.4, 0, 0.2, 1);
}
